[submodule "skynet"]
	path = skynet
	url = https://github.com/cloudwu/skynet.git
[submodule "3rd/lua-cjson"]
	path = 3rd/lua-cjson
	url = https://github.com/cloudwu/lua-cjson.git
[submodule "3rd/lua-openssl"]
	path = 3rd/lua-openssl
	url = https://github.com:zhongfq/lua-openssl.git
[submodule "3rd/uuid"]
	path = 3rd/uuid
	url = https://github.com/Tieske/uuid.git
[submodule "3rd/argparse"]
	path = 3rd/argparse
	url = https://github.com/mpeterv/argparse.git
