[submodule "skynet"]
	path = skynet
	url = https://github.com/cloudwu/skynet.git
[submodule "3rd/lua-cjson"]
	path = 3rd/lua-cjson
	url = https://github.com/cloudwu/lua-cjson.git
[submodule "3rd/lua-openssl"]
	path = 3rd/lua-openssl
	url = git@github.com:zhongfq/lua-openssl.git
